<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <script>
    console.log(typeof URL)
    console.log(window)


    //  Host bastion
    //   HostName 118.178.143.65
    //   User wumengcheng
    //   Port 60022
    //   ForwardAgent yes
    //   IdentityFile ~/.ssh/id_rsa
    //   AddKeysToAgent yes
    iIhXW95ZLtFM
        // v-if= "powerCodes.includes('admin:customer_success:corp_archieves')"
        // v-if= "powerCodes.includes('admin:customer_success:corp:todo')"
  </script>
</body>

</html>